@import "bootstrap.min.css";
@import "carousel.css";

body {
	background-color: black;
  font-size: 1.2em;
}
p, a, li {
	color: black;
}
p {
	width: 70%;
  margin-left: 5em;
  line-height: 1.8em;  
}
h2.featurette-heading, 
h3 {
	font-size: 3em;
  margin-left: 1.55em;
  margin-top: 2em;
  font-family: 'Fjalla One', sans-serif; 
}
h3 {
  font-size: 1.7em;
  margin-left: 2.8em;
}
.nav {
  text-transform: uppercase;
  font-size: 1.2em; 
}
.carousel-text {  
  /*background: rgba(0, 0, 0, 0.4);
  margin-top: 3em;
  border: 5px solid rgba(0, 0, 0, 0.2);*/
  margin-bottom: 2em;
  padding: 2em;
}
.carousel-text h1 {  
  font-family: 'Paytone One', sans-serif;
  text-transform: uppercase;
  font-size: 4em;
}
.carousel-text p {
  color: white;
  margin: 0 auto;
  text-shadow: 1px 2px 2px #707070;
 }


/*header*/

a:hover {
	color: gray;
}
.navbar-header {
  height: 190px;
}
.navbar-header img {
  margin-top: 1.4em;
  margin-left: 6em;
}
.nav.navbar-nav a {
	color: white;
	margin-right: 1.5em;
}
.nav.navbar-nav a:hover {
	color: black;
}
#main-nav {
  float:right;
  margin-top:2.6em;
}
.featurette-heading {
	color: black;
}
.header-container {
  width: 70%;
  margin: 3.5em auto;
}
.contact {
	list-style: none;
	margin-left: 4.8em;
	padding: 0;
}
/*main content*/

.container.marketing {
	background-color: white;
	width: 70%;
  padding-bottom: 2em;
}
img.featurette-image2 {
  margin: 3em 2.3em;
}
.col-md-5 {
  margin-top: 3em;   
}
.col-md-7 {
  width: 50%;
}
#map {
  margin-left: 4.6em;
  margin-top: 2.5em;
  width: 400px;
  height: 415px;
}
.contact li {
  line-height: 2em;
}
/*footer*/

.networks {
  float: right;
}
.networks li {
  display: inline-block;
  margin: 0.3em;
}
.networks li {
  height: 40px;
  width: 40px;
  display: inline-block;
  opacity: 1;
}
.networks a{
  background-image: url("../img/sprite.png");
  height: 40px;
  width: 40px;
  display: block;
}
.networks li:hover {
  opacity: 0.8;
}
.mail { 
  background-position: 0 0;  
} 
.facebook { 
  background-position: 0 -80px; 
} 
.twitter { 
  background-position: 0 -160px;  
} 
.networks span {
  display: none;
}

footer {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
}
footer p {
  color: white;
  margin: 1.5em 0;
  float:left;
}